<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題：ゴーヤの情報</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops where not (give_for='自家消費');") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの長さ：#{record["length"]}　ゴーヤの重さ：#{record["weight"]}　売り先: #{record["give_for"]}　品質：#{record["quality"]}　" %>
    <% end %>

    <% result2 = connection.exec("select * from crops where quality = false;") %>
    <% data2 = [] %>
    <% result2.each do |record| %>
      <%  data2 << "ゴーヤの長さ：#{record["length"]}　ゴーヤの重さ：#{record["weight"]}　売り先: #{record["give_for"]}　" %>
    <% end %>

    <form action="goya_give_for.cgi" method="POST">
       下記のボタンを押すと、自家消費ではない譲渡先のゴーヤ情報ページに飛びます<br><br>
      <input type="text" name="goya_give_for" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="goya_quality.cgi" method="POST">
           下記のボタンを押すと、品質の良くないゴーヤ情報ページに飛びます<br><br>
          <input type="text" name="goya_quality" value="<%= data2.join(' ') %>">
          <input type="submit" name="送信" >
    </form>


  </body>
</html>
